joblib==1.2.0
matplotlib==3.6.2
numpy==1.24.4
pandas==1.5.0
scikit_learn==1.2.2
scipy==1.9.1
seaborn==0.11.2
shap==0.42.1
sklearn_relief==1.0.0b2
torch==2.0.1+cu117
xgboost==1.7.5
pipreqs
pip-chill
pipdeptree
